* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.navbar {
    background-color: rgb(82, 82, 82);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-heading {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.menu-container-outside {
    display: flex;
    justify-content: right;
    align-items: center;
}
/* Hide menu links Default */
.menu-container {
    height: 0;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(82, 82, 82);
    color: white;
    max-width: 10rem;
}

/* Toggle class */
.show-menu-container {
    height: 5rem;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul.menu-list{
    list-style-type: none;
}
.menu-list > li {
    padding: 5px;
}
.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
.add-icon {
    color: rgb(52, 52, 52);
}
button.add-button {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 14px 24px;
    border: transparent;
    border-radius: 10px;
}

/* Hide New Book Form Default */
.modal-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #c4c4c4b7;
}

.add-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: none;
    visibility: hidden;
    z-index: -10;
    background-color: rgb(82, 82, 82);
    border-radius: 0 20px 0 0;
}

.add-form-two {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: none;
    visibility: hidden;
    z-index: -10;
    background-color: rgb(82, 82, 82);
    border-radius: 0 20px 0 0;
}

/* Display New Book Form */
.show-modal-overlay {
    visibility: visible;
    z-index: 5;
}

.show-add-form {
    top: 30%;
    left: 30%;
    height: 30vh;
    width: 35vw;
    min-width: 250px;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 0 20px 0 0;
    visibility: visible;
    z-index: 10;
}

.show-add-form-two {
    top: 30%;
    left: 30%;
    height: 30vh;
    width: 35vw;
    min-width: 250px;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 0 20px 0 0;
    visibility: visible;
    z-index: 10;
}

.add-form-header {
    color: white;
    font-size: 1.5em;
}

form.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
/*
switched to radio buttons
.form-buttons > button {
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 14px 24px;
    border: 2px solid white;
    border-radius: 10px;
}

.form-buttons > button:hover {
    font-weight: bold;
    font-size: 16px;
    color: rgb(82, 82, 82);
    background-color: white;
    padding: 14px 24px;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 10px;
}
*/
input {
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(82, 82, 82);
    color: white;
    margin: 5px;
    padding: 5px 20px;
}

/* label for radio buttons */
label {
    color: white;
}

.form-nav-links {
    width: 80%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.form-nav-links:hover {
    text-decoration: underline;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 35px;
}

.card {
    background-color: rgb(82, 82, 82);
    color: white;
    display: grid;
    align-items: center;
    border-radius: 0 20px 0 0;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
}

.card-top {
    text-align: center;
    padding-bottom: 12px;
}

.card-bottom {
    display: flex;
    justify-content: space-around;
}